#wrapper{
  width:100%;
  margin-center:
}

header{
  height: 100px;
  width: 100%;
  background-color:#3464eb;
}
nav{
height: 50px;
width: 100%;
background-color: #b9babd;

}
main{
  height: 400px;
  width: 70%;
  background-color: #b9babd;

}
aside{
  height: 400px;
  width: 30%;
  background-color: #b9babd;

}
footer{
  height: 50px;
  width: 100%;
  background-color: #4d4e52;
text-decoration: #ffffff;
}
#container{
display:flex;

}


/* unvisited link */
a:link {
  color: green;
text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
text-decoration: none;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}


h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

h3 {
  text-align: right;
}
